<section>
  <div class="track-details">
    <h5 class="track-title">{{track}}</h5>
    <p class="track-artist">{{artist}}</p>
    <img class="track-image" src={{image}}>
    <p class="track-time">Length: {{time}}</p>
    <p class="track-album">Album: {{album}}</p>
  </div>
</section>
